.top-common-background {
  background-image: url('../images/header-donuts-mobile-120.png'),
    url('../images/top-common-bg-mob.png');

  background-repeat: no-repeat;
  background-position: left top, center top;
  background-size: 37%, 100% 460px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/header-donuts-mobile-240.png'),
      url('../images/top-common-bg-mob@2x.png');
  }

  @include for-tablet-up {
    background-image: url('../images/header-donuts-tablet-380.png'),
      url('../images/top-common-bg-tablet.png');
    background-position: right 38% top, center top;
    background-size: 378px, 100% 622px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/header-donuts-tablet-760.png'),
        url('../images/top-common-bg-tablet@2x.png');
    }
  }

  @include for-desktop-up {
    background-image: url('../images/spoon-desktop-145.png'),
      url('../images/header-donuts-desktop-716.png'),
      url('../images/top-common-bg-desktop.png');
    background-position: left 501px, right top, center top;
    background-size: 145px, 716px, 100% 1035px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/spoon-desktop-289.png'),
        url('../images/header-donuts-desktop-1432.png'),
        url('../images/top-common-bg-desktop@2x.png');
    }
  }
}

.bottom-common-background {
  background-image: url('../images/flour-mobile-84.png'),
    url(/src/images/bottom-common-bg-mob.png);

  background-repeat: no-repeat;
  background-position: right bottom, center top;
  background-size: 84px 73px, 100% 100%;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url('../images/flour-mobile-168.png'),
        url(/src/images/bottom-common-bg-mob@2x.png);
    }
  }

  @include for-tablet-up {
    background-image: url('../images/flour-tablet-184.png'),
      url(/src/images/bottom-common-bg-tablet.png);
    background-position: right bottom, center top;
    background-size: 184px 119px, 100% 100%;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url('../images/flour-tablet-368.png'),
          url(/src/images/bottom-common-bg-tablet@2x.png);
      }
    }
  }

  @include for-desktop-up {
    background-image: url('../images/flour-desktop-302.png'),
      url(/src/images/bottom-common-bg-desktop.png);
    background-position: bottom right, center top;

    background-size: 302px 175px, 100% 100%;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url('../images/flour-desktop-604.png'),
          url(/src/images/bottom-common-bg-desktop@2x.png);
      }
    }
  }
}
