.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) and (max-width: 767.9px) {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 33px;
    padding-right: 33px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 123px;
    padding-right: 123px;
  }
}
