<section id="contacts" class="contact">
  <h2 class="contact__title">Contact</h2>
  <p class="contact__subtitle">We will answer any question!</p>
  <form class="contact__form">
    <input
      class="contact__input"
      type="email"
      name="mail"
      placeholder="Email"
      title="enter your email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      required
    />
    <textarea
      class="contact__input contact__input--question"
      name="question"
      rows="1"
      placeholder="Type your question"
    ></textarea>
    <button type="submit" class="button__send">
      Send<span class="thanks"></span>
  </form>
  </button>
</section>
