<section id="contact" class="contact">
  <h2 class="contact__title">Contact</h2>
  <h3 class="contact__subtitle">We will answer any question!</h3>
  <form class="contact__form">
    <input
      class="contact__input"
      type="email"
      name="mail"
      placeholder="Email"
      title="enter your email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      required=""
    />
    <textarea
      class="contact__input contact__input--question"
      name="question"
      rows="1"
      placeholder="Type your question"
    ></textarea>
  </form>
  <button type="submit" class="button__send">Send</button>
</section>
