<footer class="footer">
    <div class="container">
        <ul class="social">
            <li class="social__item">
                <a href="" class="social__link" aria-label="Твиттер">
                    <svg class="social__icon">
                        <use href="./images/sprite.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a href="" class="social__link" aria-label="Инстаграм">
                    <svg class="social__icon">
                        <use href="./images/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a href="" class="social__link" aria-label="Фейсбук">
                    <svg class="social__icon">
                        <use href="./images/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>