<footer class="footer">
    <div class="container">
            <ul class="social">
                <li class="social__item">
                    <a href="" class="social__link" aria-label="Твиттер">
                        <svg class="social__icon">
                            <use href="./images/sprite.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="" class="social__link" aria-label="Инстаграм">
                        <svg class="social__icon">
                            <use href="./images/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="" class="social__link" aria-label="Фейсбук">
                        <svg class="social__icon">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        <address class="address">
            <ul class="address__list">
                <li class="address__item">
                    <a class="address__link" href="tel:(910)222-8855">
                        <svg class="address__icon">
                            <use href="./images/sprite.svg#icon-phone"></use>
                        </svg>
                        (910)222-8855
                    </a>
                </li>
                <li class="address__item">
                    <a class="address__link" href="https://goo.gl/maps/J7kJZcncVPYtVJkq6" target="_blank">
                        <svg class="address__icon">
                            <use href="./images/sprite.svg#icon-location"></use>
                        </svg>
                        New York
                        <div class="address__map">
                            <img class="address__image" src="./images/real-map.jpg" alt="Map of place">
                        </div>
                    </a>
                </li>
            </ul>
        </address>
    </div>
</footer>