<section id="program" class="program-section">
    <div class="container">
        <div class="program-wrap">
            <div class="program">
                <h2 class="program__title">Program</h2>
                <ul class="program__list">
                    <li class="program__link">Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!</li>
                    <li class="program__link">> A stand up history of donuts</li>
                    <li class="program__link">> Make 3 donut flavors of your choice</li>
                    <li class="program__link">> Enjoy all-you-can-eat donuts</li>
                    <li class="program__link">> Cocktail pairings and coffee included</li>
                    <li class="program__link">> Photoshoot by professional photographer</li>
                    <li class="program__link">> Secret receipt of cooking from Eva</li>
                    <li class="program__link">> All products are included in the price</li>
                    <li class="program__link-hidden less" id="less">Come with your dear people and friends
                        and you will spend an unforgettable time and
                        will become a real professional in donuts cooking!</li>
                </ul>
                <button
                    type="button"
                    class="program__button"
                    onclick="btn_onclick(this, '#less')">
                    Read more
                  </button>
            </div>
                <ul class="ponchik">
                    <li class="ponchik__item">
                    <picture class="ponchik__img">
                        <source srcset="./images/program-donut-stripes-mobile-77.png 1x, ./images/program-donut-stripes-mobile-154.png 2x" media="(max-width: 767.9px)" />
                        <source srcset="./images/program-donut-stripes-tablet-83.png 1x, ./images/program-donut-stripes-tablet-165.png 2x" media="(max-width: 1279.9px)" />
                        <source srcset="./images/program-donut-stripes-desktop-97.png 1x, ./images/program-donut-stripes-desktop-194.png 2x" media="(min-width: 1200px)" />
                        <img src="./images/program-donut-stripes-mobile-77.png" alt="donut-one"> 
                        </picture>
                    <div class="ponchik__wrap">
                    <h3 class="ponchik__title">Type of the event</h3>
                    <span class="ponchik__link">Cooking classes</span>
                    <svg width="25px" height="25">
                        <use href="./images/sprite.svg#icon-chef-hat"></use>
                    </svg>
                    </div>
                    </li>

                    <li class="ponchik__item">
                    <picture class="ponchik__img">
                    <source srcset="./images/program-donut-white-mobile-75.png 1x, ./images/program-donut-white-mobile-150.png 2x" media="(max-width: 767.9px)" />
                    <source srcset="./images/program-donut-white-tablet-70.png 1x, ./images/program-donut-white-tablet-139.png 2x" media="(max-width: 1279.9px)" />
                    <source srcset="./images/program-donut-white-desktop-83.png 1x, ./images/program-donut-white-desktop-166.png 2x" media="(min-width: 1200px)" />
                    <img  src="./images/program-donut-white-mobile-75.png" alt="donut-two"> 
                    </picture>
                    <div class="ponchik__wrap">    
                    <h3 class="ponchik__title">Number of guests</h3>
                    <span class="ponchik__link">1 to 20</span>
                    <svg width="25px" height="25">
                    <use href="./images/sprite.svg#icon-people"></use>
                    </svg>
                    </div>
                    </li>

                    <li class="ponchik__item">
                    <picture class="ponchik__img">
                    <source srcset="./images/program-donut-chips-mobile-79.png 1x, ./images/program-donut-chips-mobile-157.png 2x" media="(max-width: 767.9px)" />
                    <source srcset="./images/program-donut-chips-tablet-76.png 1x, ./images/program-donut-chips-tablet-150.png 2x" media="(max-width: 1279.9px)" />
                    <source srcset="./images/program-donut-chips-desktop-88.png 1x, ./images/program-donut-chips-desktop-176.png 2x" media="(min-width: 1200px)" />
                    <img  src="./images/program-donut-chips-mobile-79.png" alt="donut-three"> 
                    </picture>
                    <div class="ponchik__wrap">   
                    <h3 class="ponchik__title">Time of the event</h3>
                    <span class="ponchik__link">18:30 (2.5 hours)</span>
                    <svg width="25px" height="25">
                    <use href="./images/sprite.svg#icon-clock"></use>
                    </svg>
                    </div>
                    </li>

                    <li class="ponchik__item">
                    <picture class="ponchik__img">
                    <source srcset="./images/program-donut-chocolate-mobile-74.png 1x, ./images/program-donut-chocolate-mobile-148.png 2x" media="(max-width: 767.9px)" />
                    <source srcset="./images/program-donut-chocolate-tablet-71.png 1x, ./images/program-donut-chocolate-tablet-141.png 2x" media="(max-width: 1279.9px)" />
                    <source srcset="./images/program-donut-chocolate-desktop-83.png 1x, ./images/program-donut-chocolate-desktop-166.png 2x" media="(min-width: 1200px)" />
                    <img  src="./images/program-donut-chocolate-mobile-74.png" alt="donut-four"> 
                     </picture>
                    <div class="ponchik__wrap">
                    <h3 class="ponchik__title">The host speaks</h3>
                    <span class="ponchik__link">English, French</span>
                    <svg width="25px" height="25">
                        <use href="./images/sprite.svg#icon-chat"></use>
                    </svg>
                    </div>
                    </li>
                </ul>
            </div>
    </div>
</section>