<section id="registration" class="registration-section container">
  <div class="registration-for-phone">
    <h2 class="registration-section__title">Registration</h2>

    <div class="registration-section__position">

      <img
          class="registration__donut--tablet"
          srcset="/src/images/registration-donut-bitten-tablet-220.png 220w,
          /src/images/registration-donut-bitten-tablet-440.png 440w
          "
          sizes="(min-width: 768px) 220px"
          src="/src/images/registration-donut-bitten-tablet-220.png "
          alt="bitten donut"
        />

        <img
          class="registration__donut--desktop"
          srcset="
          /src/images/registration-donut-bitten-desktop-257.png 257w,
          /src/images/registration-donut-bitten-desktop-514.png 514w
          "
          sizes="(min-width: 1280px) 257px"
          src="/src/images/registration-donut-bitten-desktop-257.png"
          alt=" bitten donut"
        />


      <div class="registration">
        <div class="registraction-info">
          <p class="registraction-info__date">
            May 23, 11:00 <br />
            New York
          </p>

          <p class="registraction-info__cost">$ 699</p>
        </div>

        <form class="registration-form" onsubmit="return false">
          <div class="registration-form__block">
            <p class="registration-form__title">
              Apply your personal info for registration
            </p>

            <label for="form-name" class="registration-form__label"></label>
            <input
              class="registration-form__input"
              type="text"
              name="name of the person"
              id="form-name"
              placeholder="Your name"
              required
              pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            />

            <label for="form-phone" class="registration-form__label"></label>
            <input
              class="registration-form__input"
              type="tel"
              name="phone of the person"
              id="form-phone"
              placeholder="Phone number"
              required
              pattern="\+?[0-9\s\-\(\)]+$"
            />

            <label for="form-email" class="registration-form__label"></label>
            <input
              class="registration-form__input"
              type="email"
              name="email of the person"
              id="form-email"
              placeholder="Email"
              required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            />
          </div>

          <button class="registration-form__button" data-modal-open type="submit" >
            Register
          </button>
        </form>
      </div>

        <img
          class="registration__confetti--tablet"
          srcset="
            /src/images/confetti-tablet-1x.png 287w,
            /src/images/confetti-tablet-2x.png 574w
          "
          sizes="(min-width: 768px) 287px"
          src="/src/images/confetti-tablet-1x.png"
          alt=" birthday confetti"
        />

        <img
          class="registration__confetti--desktop"
          srcset="
            /src/images/confetti-desktop-1x.png  566w,
            /src/images/confetti-desktop-2x.png 1132w
          "
          sizes="(min-width: 1280px) 566px"
          src="/src/images/confetti-desktop-1x.png"
          alt=" birthday confetti"
        />

    </div>
  </div>

  <div class="modal is-hidden" data-modal>
    <div class="modal__inner">
        <h3 class="modal__title">Thank you!</h3>
        <p class="modal__text">Now you are a member of our list of wonderful people! We will write you an email to confirm your order</p>
        <picture class="modal__img">
            <source srcset="./images/program-donut-chocolate-mobile-74.png 1x, ./images/program-donut-chocolate-mobile-148.png 2x" media="(max-width: 767px)" />
            <source srcset="./images/program-donut-chocolate-tablet-71.png 1x, ./images/program-donut-chocolate-tablet-141.png 2x" media="(max-width: 1199px)" />
            <source srcset="./images/program-donut-chocolate-desktop-83.png 1x, ./images/program-donut-chocolate-desktop-166.png 2x" media="(min-width: 1200px)" />
            <img  src="./images/program-donut-chocolate-mobile-74.png" alt="donut-four" data-modal-close> 
        </picture>
    </div> 
</div>
<!-- <script src="./js/modal.js"></script> -->
