
<article class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews__title">Reviews</h2>
    <div class="reviews__box swiper mySwiper">
      <ul class="reviews__list swiper-wrapper">
        <li class="reviews__item swiper-slide">
          <img class="reviews__picture"
            srcset="
              ./images/person-left-151.png 1x,
              ./images/person-left-285.png 2x,
              ./images/person-left-302.png 3x,
              ./images/person-left-570.png 4x"
              src="./images/person-left-151.png"
              alt="фото разработчика"
            />
          <svg class="reviews__icon">
            <use href="./images/sprite.svg#icon-rate"></use>
          </svg>
          <h3 class="reviews__name">John</h3>
          <p class="reviews__text">
            Last time I have visited a cooking course by Eva I was impressed with the
            way she explained everything to people. You can be sure you will manage to
            cook a delicious dish even if it is your first time in the kitchen! Thank
            you so much for the masterclass! Looking forward to the next one and
            highly recommend it to everyone!
          </p>
        </li>

        <li class="reviews__item swiper-slide">
          <img
            class="reviews__picture"
            srcset="
              ./images/person-center-280.png 1x,
              ./images/person-center-336.png 2x,
              ./images/person-center-394.png 3x,
              ./images/person-center-560.png 4x,
              ./images/person-center-672.png 5x,
              ./images/person-center-788.png 6x
            "
            src="./images/person-center-280.png"
            alt="фото разработчика"
          />
          <svg class="reviews__icon">
            <use href="./images/sprite.svg#icon-five-star-rate"></use>
          </svg>
          <h3 class="reviews__name">Will</h3>
          <p class="reviews__text">
            Last time I have visited a cooking course by Eva I was impressed with the
            way she explained everything to people. You can be sure you will manage to
            cook a delicious dish even if it is your first time in the kitchen! Thank
            you so much for the masterclass! Looking forward to the next one and
            highly recommend it to everyone!
          </p>
        </li>

        <li class="reviews__item swiper-slide">
          <img
            class="reviews__picture"
            srcset="
              ./images/person-right-152.png 1x,
              ./images/person-right-288.png 2x,
              ./images/person-right-304.png 3x,
              ./images/person-right-576.png 4x
            "
            src="./images/person-right-152.png"
            alt="фото разработчика"
          />
          <svg class="reviews__icon">
            <use href="./images/sprite.svg#icon-five-star-rate"></use>
          </svg>
          <h3 class="reviews__name">Elisabeth</h3>
          <p class="reviews__text">
            Last time I have visited a cooking course by Eva I was impressed with the
            way she explained everything to people. You can be sure you will manage to
            cook a delicious dish even if it is your first time in the kitchen! Thank
            you so much for the masterclass! Looking forward to the next one and
            highly recommend it to everyone!
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</article>


  
