<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="reviews">
    <div class="container">
      
  
      <div class="reviews-box">
        <h2 class="reviews-title">Reviews</h2>
        <ul class="reviews-list">
          <li class="reviews-list__item1">
            <img class="reviews-list__picture1"
              srcset="
                ./images/person-left-151.png 1x,
                ./images/person-left-285.png 2x,
                ./images/person-left-302.png 3x,
                ./images/person-left-570.png 4x"
                src="./images/person-left-151.png"
              alt="фото разработчика"/>
              <svg class="reviews-list__icon1"><use href="./images/sprite.svg#icon-rate"></use></svg>
              <h3 class="reviews-list-title1">John</h3>
            </li>
  
          <li class="reviews-list__item2">
            <img class="reviews-list__picture2" srcset="
                ./images/person-center-280.png 1x,
                ./images/person-center-336.png 2x,
                ./images/person-center-394.png 3x,
                ./images/person-center-560.png 4x,
                ./images/person-center-672.png 5x,
                ./images/person-center-788.png 6x "
              src="./images/person-center-280.png" alt="фото разработчика"/>
             <svg class="reviews-list__icon2"><use href="./images/sprite.svg#icon-five-star-rate"></use></svg>
             <h3 class="reviews-list-title2">Will</h3>
 </li>
       
         <li class="reviews-list__item3">
            <img class="reviews-list__picture3" srcset="
                ./images/person-right-152.png 1x,
                ./images/person-right-288.png 2x,
                ./images/person-right-304.png 3x,
                ./images/person-right-576.png 4x" 
                src="./images/person-right-152.png" alt="фото разработчика" />
                <svg class="reviews-list__icon3"><use href="./images/sprite.svg#icon-five-star-rate"></use></svg>
                <h3 class="reviews-list-title3">Elisabeth</h3>
          </li>
        </ul>
      </div>
  
      <div class="reviews-text"><p>
        Last time I have visited a cooking course by Eva I was impressed with the
        way she explained everything to people. You can be sure you will manage to
        cook a delicious dish even if it is your first time in the kitchen! Thank
        you so much for the masterclass! Looking forward to the next one and
        highly recommend it to everyone!
      </p></div>
      <b  class="reviews-number">2/15</b>
    </div>
  </section>
</body>
</html>

