<section class="reviews">
    <div class="conteiner">
      <h2 class="reviews-title">Reviews</h2>
  
      <div class="reviews-box">
        <ul class="reviews-list">
          <li class="reviews-list__item1">
            <img
              srcset="
                ./images/person-left-151.png 1x,
                ./images/person-left-285.png 2x,
                ./images/person-left-302.png 3x,
                ./images/person-left-570.png 4x
              "src="./images/person-left-151.png"
              alt="фото разработчика"/>
              <svg class="reviews-list__icon"><use href="./images/sprite.svg#icon-rate"></use></svg>
              <h3 class="reviews-list-title">John</h3>
            </li>
  
          <li class="reviews-list__item2">
            <img class="reviews-list__picture" srcset="
                ./images/person-center-280.png 1x,
                ./images/person-center-336.png 2x,
                ./images/person-center-394.png 3x,
                ./images/person-center-560.png 4x,
                ./images/person-center-672.png 5x,
                ./images/person-center-788.png 6x
              "src=" ./images/person-center-280.png" alt="фото разработчика"/>
             <svg class="reviews-list__icon"><use href="./images/sprite.svg#icon-five-star-rate"></use></svg>
             <h3 class="reviews-list-title">Will</h3>
 </li>
       
         <li class="reviews-list__item3">
            <img srcset="
                ./images/person-right-152.png 1x,
                ./images/person-right-288.png 2x,
                ./images/person-right-304.png 3x,
                ./images/person-right-576.png 4x" 
                src="./images/person-right-152.png"alt="фото разработчика" />
                <svg class="reviews-list__icon"><use href="./images/sprite.svg#icon-five-star-rate"></use></svg>
                <h3 class="reviews-list-title">Elisabeth</h3>
          </li>
        </ul>
      </div>
  
      <p class="reviews-text">
        Last time I have visited a cooking course by Eva I was impressed with the
        way she explained everything to people. You can be sure you will manage to
        cook a delicious dish even if it is your first time in the kitchen! Thank
        you so much for the masterclass! Looking forward to the next one and
        highly recommend it to everyone!
      </p>
      <b  class="reviews-nomber">2/15</b>
    </div>
  </section>