.contact {
    text-align: center;
    padding: 0 15px;
}
.contact__title {
    font-family: 'Caveat Brush';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    @include for-desktop-up {
    font-size: 36px;
        }
}

.contact__subtitle {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 0.8;
    @include for-desktop-up {
    font-size: 18px;
    line-height: 1.22;
    }
}
    .contact__title {
    margin-bottom: 16px;
    @include for-tablet-up {
        margin-bottom: 20px;
    }
}
    .contact__subtitle  {
    margin-bottom: 16px;
}
.contact__form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact__input {
    outline: none;
    // margin-bottom: 22px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    max-width: 320px;

    border: none;
    border-bottom: 1px solid $rating-star-color;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0.8;
    @include for-tablet-up {
    max-width: 336px;
    }
    @include for-desktop-up {
    max-width: 394px;
    background-color: $desktop-body-color;
    }
}

.contact__input::placeholder {
    color: $placeholder-color;
}

.contact__input--question {
    resize: none;
    overflow: hidden;
    margin-top: 20px;
}

.contact__input:not(:focus):invalid {
    color: $invalid-form-color;
}

.button__send {
    padding: 0;
    width: 145px;
    height: 40px;
    margin-top: 32px;

    background: $button-color;
    border: 0;
    border-radius: 25px;

    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2.3;
    text-align: center;
    color: $button-text-color;
    @include for-desktop-up {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 32px auto 0 auto;
        width: 182px;
        height: 45px;
        font-size: 24px;
    }
}
