.footer {
    padding-top: 32px;
    padding-bottom: 20px;
    position: relative;
}

.address {
    @include for-desktop-up {
        margin-right: 198px;
    }
}



.address__list {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

    @include for-tablet-up {
        margin-top: 61;
    }

    @include for-desktop-up {
        margin-top: 81;
    }
}

.address__link {
    display: flex;
    align-items: center;

    font-style: normal;
    color: $primary-text-color;
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.address__icon {
    display: block;
    width: 14px;
    height: 14px;
    fill: currentColor;
    margin-right: 4px;
}
.address__map {

    position: absolute;
    

    @media screen and (max-width: 1279px) {
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

        top: -115px;
        left: 68%;

        width: 300px;
        padding: 5px;
        background-color: $desktop-body-color;
        border-radius: 10px;
        box-shadow: -4px -4px 4px $box-shadow-color, 4px 4px 4px $box-shadow-color;

        opacity: 0;
        pointer-events: none;
        transition: opacity 250ms $timing-function 150ms;

}
.address__link:hover .address__map,
.address__link:focus .address__map {
    @include for-desktop-up {
        opacity: 1;
        pointer-events: all;
    } 
}
.address__image {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    border-radius: 10px;

}