html {
  scroll-behavior: smooth;
}

body {
  &.modal-is-open {
    position: relative;

    height: 100%;
    width: 100%;

    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

.header {
  @include for-phone-only {
    min-height: 60px;
  }

  @include for-tablet-only {
    min-height: 80px;
  }
}

.header__container {
  @media screen and (max-width: 319.9px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include for-desktop-up {
    padding-left: 16px;
    padding-right: 16px;
  }

  position: relative;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo__icon {
  width: 96px;
  height: 44px;

  .nav.is-open & {
    width: 190px;
    height: 85px;
  }

  @include for-desktop-up {
    width: 158px;
    height: 81px;
  }
}

.nav {
  z-index: 1;

  @include for-phone-only {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &.is-open {
    padding-top: 25px;
    padding-bottom: 25px;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: $menu-background-color;
    backdrop-filter: blur(4px);

    overflow-y: scroll;
  }
}

.nav__container {
  @media screen and (max-width: 1279.9px) {
    position: relative;
  }

  @include for-tablet-up {
    display: flex;
    align-items: center;
  }

  @include for-tablet-only {
    justify-content: space-between;

    .nav.is-open & {
      margin-left: auto;
      margin-right: auto;

      display: block;

      width: 768px;
    }
  }

  @include for-desktop-up {
    justify-content: flex-start;
  }
}

.nav__btn {
  padding: 0;
}

.nav__menu-btn {
  padding-top: 16px;
  padding-bottom: 16px;

  position: absolute;
  top: -4px;
  right: 0;

  border: none;
  background-color: inherit;
  color: $primary-text-color;

  transition: color 250ms $timing-function;

  @include for-tablet-only {
    padding-top: 32px;
    padding-bottom: 32px;

    position: static;
  }

  @include for-desktop-up {
    display: none;
  }

  &.is-open {
    padding-top: 20px;
    padding-bottom: 20px;

    top: -25px;
    right: 20px;

    @include for-tablet-up {
      padding-top: 25px;
      padding-bottom: 25px;

      position: absolute;
      top: -25px;
      right: 32px;
    }
  }
}

.nav__menu-btn:hover,
.nav__menu-btn:focus {
  color: $accent-color;

  cursor: pointer;
}

.nav__menu-icon {
  width: 30px;
  height: 16px;

  fill: currentColor;

  .nav__menu-btn.is-open & {
    width: 18px;
    height: 18px;
  }
}

.nav__icon {
  &--close {
    display: none;

    .nav__menu-btn.is-open & {
      display: block;
    }
  }

  &--menu {
    display: block;

    .nav__menu-btn.is-open & {
      display: none;
    }
  }
}

.pages {
  display: none;

  .nav.is-open & {
    margin-top: 40px;

    display: block;
  }

  @include for-desktop-up {
    margin-left: 162px;

    display: flex;
  }
}

.pages__item:not(:first-child) {
  @include for-phone-only {
    margin-top: 45px;
  }

  @include for-tablet-only {
    margin-top: 40px;
  }

  @include for-desktop-up {
    margin-left: 40px;
  }
}

.pages__item {
  text-align: center;
}

.pages__link {
  position: relative;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;

  color: $primary-text-color;

  transition: color 250ms $timing-function;

  @include for-desktop-up {
    padding-top: 58px;
    padding-bottom: 58px;

    display: block;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }

  &::after {
    content: '';

    position: absolute;
    top: -5px;
    left: -8px;
    z-index: 1;

    width: 0px;
    height: 0px;

    display: inline-block;

    opacity: 0;

    border-top: 2px dotted black;
    border-left: 2px dotted black;

    transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;

    @media screen and (min-width: 1280px) {
      top: 52px;
    }
  }

  &--chips::before {
    background-image: url('../images/program-donut-chips-mobile-79.png');
  }

  &--chocolate::before {
    background-image: url('../images/program-donut-chocolate-mobile-74.png');
  }

  &--stripes::before {
    background-image: url('../images/program-donut-stripes-mobile-77.png');
  }
  &--white::before {
    background-image: url('../images/program-donut-white-mobile-75.png');
  }
}

.pages__link:hover,
.pages__link:focus {
  color: $accent-color;

  &::before {
    content: '';

    position: absolute;
    top: -17px;
    left: -20px;
    z-index: 2;

    width: 24px;
    height: 24px;

    display: inline-block;

    background-size: contain;

    @media screen and (min-width: 1280px) {
      top: 40px;
    }
  }

  &::after {
    width: 120px;
    height: 35px;

    opacity: 1;

    @media screen and (min-width: 1280px) {
      width: 100px;
      height: 30px;
    }
  }
}

.scroll-up {
  display: none;

  position: fixed;
  bottom: 40px;
  right: 5%;

  z-index: 30;

  width: 40px;
  height: 40px;

  color: $accent-color;
  opacity: 0.5;

  cursor: pointer;

  animation: spin 2.5s infinite linear;

  @keyframes spin {
    50% {
      transform: translateY(10px);
    }
  }

  &--show {
    display: block;
  }

  @include for-desktop-up {
    width: 50px;
    height: 50px;
  }
}

.scroll-up__icon {
  width: 100%;
  height: 100%;

  fill: currentColor;
}

.scroll-up:hover,
.scroll-up:focus {
  opacity: 1;
}
