.program-wrap{
    @media (min-width:769px){
        display: flex;
    }

    @media (min-width:1199px){
        display: flex;
    }
}

.program{

    @media (min-width:769px){
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 60px;
        }

    @media (min-width:1199px){
    display: flex;
    flex-direction: column;
    margin-right: 140px;
        }

    &__title{
        font-family: 'Caveat Brush' , sans-serif ;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0em;
    text-align: center;
    
    margin-bottom: 8px;

    @media (min-width:769px){
        text-align: start;
        }

    @media (min-width:1199px){
        font-size: 36px;
        line-height: 65px;
    }
    }

    &__list{
        padding: 0;
        @media (min-width:769px) and (max-width:1199px){
            max-width: 620px;
            }

        @media (min-width:1199px){
        max-width: 540px;
        }
    

    }
    
    &__link{
        font-family: 'Montserrat' , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0em;
    text-align: left;
    gap: 8px;

    @media (min-width:1199px){
        font-size: 18px;
        line-height: 1.1;
    }
    }

    &__link-hidden{
        display: none;
        font-family: 'Montserrat' , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0em;
    text-align: left;
    gap: 8px;

    @media (min-width:1199px){
        display: block;
        font-size: 18px;
    line-height: 1.1;
    }
    }
    
    &__link:not(:last-child){
        margin-bottom: 8px;
    }

    
    
    &__button{
        display: block;
        font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2777;
    text-align: left;
    color: #AB816C;
    padding: 0px;

    margin-top: 16px;

    border: none;
    background-color: transparent;


    @media (min-width:1199px){
        display: none;
    }
    }
}




.ponchik-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.ponchik{
display: flex;
flex-wrap: wrap;
gap: 30px;
justify-content: center;


@media (min-width:320px){
    padding: 0;
}

@media (min-width:769px){
    display: flex;
    gap: 30px;
}
@media (min-width:1199px){
    display: flex;
    justify-content: flex-end;
}



&__item{
    display: flex;
    background: #FEF3E4;
box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
width: 130px;
height: 130px;
margin-bottom: 20px;
margin-right: 20px;
border-radius: 50%;
flex-direction: column;
align-items: center;
justify-content: center;

@media (min-width:769px) and (max-width:1199px){
    display: flex;
    margin-bottom: 40px;
    width: 152px;
    height: 152px;
    margin-right: 0;
}

@media (min-width:1199px){
    width: 180px;
    height: 180px;
    margin-right: 50px;
}


}

&__item:nth-of-type(2){
    margin-top: 57px;

    @media (min-width:769px){
    margin-top: 45px;}

}



&__item:nth-of-type(4){
    margin-top: 57px;
    
    @media (min-width:769px){
        margin-top: 45px;
    }
}


&__img{
    display: block;
    @media (min-width:1199px){
        height: 107px;
        width: 97px;
    }
}

&__title{
    font-family: 'Caveat Brush';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.27777;
text-align: center;

margin-bottom: 4.5px;

@media (min-width:1199px){
    font-size: 24px;
    line-height: 30px;
}
}
&__link{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.214;
text-align: center;
margin-bottom: 8px;


@media (min-width:1199px){
    font-size: 16px;
    line-height: 20px;
}

}

&__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

}
}