.reviews {
  padding-bottom: 32px;
  height: 100%;
 
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.reviews__title {
  margin-bottom: 20px;
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;

  color: $primary-text-color;
  text-align: center;
}

// list
.reviews__list {
  margin-bottom: 32px;
}

.reviews__item {
  margin-bottom: 32px;
}

// picture
.reviews__picture {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
  width: 280px;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

// icon
.reviews__icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
  width: 136px;
  height: 24px;
}

// text
.reviews__name {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
  
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: $primary-text-color;
  text-align: center;
}

.reviews__text {
  margin-right: auto;
  margin-left: auto;

  width: 280px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: $primary-text-color;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 160px;
  }
}

.swiper-pagination {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.214;
  text-align: center;
  color: #AB816C;
}
